@model IEnumerable<ITCR.ProyectosVIE.Models.Parametros.TiposPlazaModel>
@{
    ViewBag.Title = "Parámetros";

    ViewBag.activeIndex = 0;

    ViewBag.hasGrid = true;
}
@section styles {

}

<div class="container">
    <div class="row">

        @Html.Partial("_NavIndex")

        <div class="span9">
            <div class="hero-unit">
                <h2>Lista de Tipos de Plaza</h2>
                <div class="row-fluid">
                    <div class="span3 offset10">
                        <a href="@Url.Action("tiposPlazaN", "Parametros", routeValues: null)" class="btn btn-primary btn-large"><i class="icon-plus"></i>Agregar</a>
                    </div>
                </div>
                @(Html.Grid(Model)
                    .SetLanguage("es")
                    .Sortable()
                    .Filterable()
                    .AutoGenerateColumns()
                    .Columns(c =>
                        {
                            c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(80)
                                .RenderValueAs(d => @<span>
                                    <a  href="@Url.Action("tiposPlazaE", "Parametros", new { id = d.COD_TIPOPLAZA })" class="btn btn-warning btn-small btn-block" ><i class="icon-pencil"></i>Editar</a>
                                </span>);
                        }))
            </div>
        </div>
    </div>
</div>

