@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("Ficha Investigador", "Index", "Investigador")</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;Usuario:&nbsp;@User.Identity.Name!&nbsp;&nbsp;&nbsp;</li>
}
<li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">
            @if (User.Identity.IsAuthenticated)
            {
                <p>Cerrar Session</p>
            }
        </a>
    }
</li>




