@{
    bool selectedProject = Session["ID_PROYECTO"] != null;    
}


<li>@Html.ActionLink("Parámetros", "tiposPlazaI", "Parametros")</li>


@if (selectedProject)
{
    <li>@Html.ActionLink("Cambiar Proyecto", "ChangeProject", "Home")</li>
}

