@{
    ViewBag.Title = "Ficha de Investigador";

    ViewBag.activeIndex = 0;
}
@section styles {

}

<div class="container">
    <div class="row">
        
        @Html.Partial("_NavIndex")

        <div class="span9">
            <div class="hero-unit">
                Ficha de Investigador
            </div>
        </div>

    </div>
</div>


